#portada{
	max-width: 100%;
    height: auto;
   	width: auto;
}

.portada{
	max-width: 100%;
    height: auto;
   	width: auto;
   display:block;
   margin:0 auto 0 auto;
}
.portadaMenu{
	max-width: 25;
	width: 70px;
}
#map{/*Posiciobar el mapa */
	max-width: 100%;
    	height: 300;
   	 width: 100%;
}

a {
	text-decoration: none;
	color:#ff0000;
}

a:hover {
	text-decoration: underline;
}
.space{
	margin-top: 70px;
	position: relative;
	z-index: -1000;
}

.contenido{
	position: relative;
	top:30px;


	width: 90%;
	margin: 0 auto;
	margin-bottom:50px;

}
.contenidos{/*Para los pescados*/
	position: relative;
	top:30px;


	width: 90%;
	margin: 0 auto;
	margin-bottom:50px;

}


.contenedor {

	position: relative;
	top:50px;
	left: 5px;
	max-width: 500px;
	width: 90%;



}
.issuuembed{
	position: relative;
	top:150px;
	left: 5px;

	width: 90%;
	margin: auto;

}

.titulo {

	font-weight: 300;
	color: #000;
	text-align: center;
	margin: 10px 0 5px 0;
	/*border-style: dashed;*/
	border-color:#00b8e6;
	font-weight: bold;
}

iframe {
  display: block;
 	margin:0 auto;
}

.border {
	border:none;
	margin-bottom: 5px;
	border-top:10px solid #DD181C;
	background: none;
	color:none;
}

.formulario {
	background: #ecd8c6;;
	padding: 30px;
	margin-bottom: 30px;
}

.formulario .form-group {
	width: 100%;
	margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"]{
	padding: 15px;
	font-family: 'Myriad', sans-serif;
	font-size: 15px;
	line-height: 18px;
	border: none;
	vertical-align: top;

}

.formulario select[class="profesion"]{
	padding: 15px;
	font-family: 'Myriad', sans-serif;
	font-size: 15px;
	line-height: 18px;
	border: none;
	vertical-align: top;

}
.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda {
	margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.formulario .icono.izquierda.fa.fa-graduation-cap {
	margin-right: -1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.formulario .usuario,
.formulario .password,
.formulario .profesion  {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn {
	width: calc(100% - 105px);
}

.formulario .error ul {
	padding: 0 15px;
	list-style-type:none;
}

.formulario .error ul li {
	margin-bottom: 10px;

}

.formulario .submit-btn {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color:#fff;

	cursor: pointer;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.texto-registrate {
	text-align: center;
	color:#000;
}

.texto-registrate a {
	display: block;
	font-size: 18px;
}

.contenido article {
	width:auto;
	margin: 0 auto 0 auto;
	top: 50px;

	background: #ecd8c6;
	color:#000;
	border: 5px solid  #DD181C;

}
.contenido article div {
	padding: 5%;
	/*background: #fff;*/
	display:inline-block;
	margin:0 auto 0 auto;
	width:auto;

	/*border-radius: 20px 20px 20px 20px;*/
}
.contenidos article {/*Para los pescados*/
	width:70%;
	margin: 0 auto 0 auto;
	top: 50px;

	background: #ecd8c6;
	color:#000;
	border: 5px solid  #DD181C;


}
.contenidos article div {/*Para los pescados*/
	padding: 1%;
	/*background: #fff;*/
	display:inline-block;
	margin: 10px;
	margin-bottom: 20px;

	width:auto;

	/*border-radius: 20px 20px 20px 20px;*/
}


.contenido article p{
	margin-bottom: 5px;

}




/* --- Footer --- */
footer {
	background: #DD181C;

	color: #fff;
	width: 100%;
	position: relative;
	top: 600px;





}

footer p{
	text-align: right;
	font-size: 14px;
	background:  #DD181C;
	width:60%;

	margin: 0 auto;
		margin-right:15%
}
/*
.ocultar {
		visibility: hidden;


	}


.contenedor:hover .ocultar{
	visibility: visible;

}*/
